.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex .left {
    float: left;
    width: 0;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
}
.hex .right {
    float: left;
    width: 0;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
    margin-left: 12px
}
.hex.even {
    margin-top: 53px;
}
.empty {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
    width: 120px;
    height: 104px;
}
